<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <span class="h3">Welcome </span><span class="h3" th:text="${instructor.instructorName}"></span><br/>

    <h3>Current Classes and </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Day</th>
            <th>Time</th>
            <th>Semester</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="class:${classes}">
            <td th:text="${class.course.courseName}"></td>
            <td th:text="${class.crn}"></td>
            <td th:text="${class.day}"></td>
            <td th:text="${class.time}"></td>
            <td th:text="${class.semester}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>