<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>CRN</th>
                <th>Course Name</th>
                <th>Day(s)</th>
                <th>Time(s)</th>
                <th>Building Name</th>
                <th>Room Number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="class : ${classes}">
                <td><span th:text="${class.crn}"></span></td>
                <td><span th:text="${class.course.courseName}"></span></td>
                <td><span th:text="${class.day}"></span></td>
                <td><span th:text="${class.time}"></span></td>
                <td><span th:text="${class.classroom.buildingName}"></span></td>
                <td><span th:text="${class.classroom.roomNum}"></span></td>
            </tr>
        </tbody>
    </table>

</body>
</html>