<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dalton</title>
</head>
<body>
<form method="post" action="/addStudent" th:object="${student}">
<div class="form-group"><input type="hidden" th:field="*{id}"></div>

<div class="form-group"><strong>Name: </strong>
    <input type="text" placeholder="Enter your name" th:field="*{studentName}">
    <span th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}"></span>
</div>
<div class="form-group"><strong>Year of Entry: </strong>
    <input type="text" placeholder="Enter year of Entry: " th:field="*{yearEntry}">
    <span th:if="${#fields.hasErrors('yearEntry')}" th:errors="*{yearEntry}"></span>
</div>
    <div class="form-group"><strong>User Name: </strong>
        <input type="text" placeholder="Enter username you want: " th:field="*{userName}">
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    </div>
    <div class="form-group"><strong>Password: </strong>
        <input type="password" placeholder="Enter year password " th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>


<label for="majorInput"><strong>Choose your Major</strong></label>
<select class="form-control" id="majorInput" th:field="*{major}">

    <option th:each="major : ${majors}"
            th:value="${major.id}"
            th:utext="${major.majorName}"/>
</select>
<br/>

<button type="submit" class="btn btn-success">Click</button>

</body>
</html>